[submodule "test/libpng"]
	path = test/submodule/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "pfuzzer"]
	path = pfuzzer
	url = https://github.com/grubwithu/pfuzzer
[submodule "test/freetype2"]
	path = test/submodule/freetype2
	url = https://github.com/freetype/freetype.git
[submodule "test/sqlite3"]
	path = test/submodule/sqlite3
	url = https://github.com/sqlite/sqlite.git
[submodule "test/harfbuzz"]
	path = test/submodule/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "test/bloaty"]
	path = test/submodule/bloaty
	url = https://github.com/google/bloaty.git
[submodule "test/libjpeg-turbo"]
	path = test/submodule/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "test/libxml2"]
	path = test/submodule/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "test/proj4"]
	path = test/submodule/proj4
	url = https://github.com/OSGeo/PROJ
[submodule "test/curl"]
	path = test/submodule/curl
	url = https://github.com/curl/curl
[submodule "test/jsoncpp"]
	path = test/submodule/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "test/lcms"]
	path = test/submodule/lcms
	url = https://github.com/mm2/Little-CMS.git
[submodule "test/libpcap"]
	path = test/submodule/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "test/libxslt"]
	path = test/submodule/libxslt
	url = https://gitlab.gnome.org/GNOME/libxslt.git
[submodule "test/mbedtls"]
	path = test/submodule/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "test/openssl"]
	path = test/submodule/openssl
	url = https://github.com/openssl/openssl.git
[submodule "test/openthread"]
	path = test/submodule/openthread
	url = https://github.com/openthread/openthread
[submodule "test/re2"]
	path = test/submodule/re2
	url = https://github.com/google/re2.git
[submodule "test/systemd"]
	path = test/submodule/systemd
	url = https://github.com/systemd/systemd.git
